@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main,
footer {
    background-color: #0D1821;
}

.navbar {
    background-color: #344966;
}

.btn-primary:hover {
    background-color: #2176f3;
}

a {
    text-decoration: none !important;
}

.gradient-custom-2 {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%,
            rgba(0, 212, 255, 1) 100%);
}

.gradient-custom-2 {
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}



body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.card {
    border: none !important;
}

.ellipsis {
    color: #a09c9c;
}

hr {
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px;
}

.muted-color {
    color: #a09c9c;
    font-size: 13px;
}

.ellipsis i {
    margin-top: 3px;
    cursor: pointer;
}

.icons i {
    font-size: 25px;
}

.icons .fa-heart {
    color: red;
}

.icons .fa-smile-o {
    color: yellow;
    font-size: 29px;
}

.rounded-image {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.name {
    font-weight: 600;
}

.comment-text {
    font-size: 12px;
}

.status small {
    margin-right: 10px;
    color: blue;
}

.form-control {
    border-radius: 26px;
}

.comment-input {
    position: relative;
}

.fonts {
    position: absolute;
    right: 13px;
    top: 8px;
    color: #a09c9c;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
}

.dots:after {
    display: none !important;
}

.share_post {
    width: 520px;
    background-color: white;
    align-items: center;
    border-radius: .375rem;
    padding: 20px 15px;
    border-top: 8px solid #344966;
}

.username {
    font-size: 20px;
}


.leftsidebar {
    background: #ffffff;
    width: 30%;
    border-radius: .375rem;
    border-top: #344966 solid 80px;
    height: max-content;
}


.leftsidebar .user-info {
    position: relative;
    top: -45px;
}

.rightsidebar {
    height: max-content;
    background: #ffffff;
    width: 30%;
    border-radius: .375rem;
    border-top: 8px solid #344966;
}

.category {
    background-color: #F0F4EF;
    border-radius: 15px;
    padding: 5px 10px;
}


/* .img-fluid {
    height: 500px !important;
} */

@media (max-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 0.3rem;
    }

    .leftsidebar,
    .rightsidebar {
        display: none;
    }

    .row>* {
        padding: 0% !important;
    }
}